body {
  margin:0;
  padding:0;
  color:#000;
  background:lightgray;
}
#body {
  //width:960px;
  margin:0 auto;
  background:lightgray;
}
#header {
  padding:10px;
  background:lightblue;
}
#content-1 {
  float:left;
  //width:220px;
  padding:10px;
  //background:#bfb;
}
#content-2 {
  float:right;
  //width:720px;
}
#content-2-1 {
  float:left;
  //width:460px;
  padding:10px;
  //background:#ddf;
}
#content-2-2 {
  float:right;
  width:220px;
  padding:10px;
  background:lightyellow;
}
#footer {
  padding:10px;
  background:lightgreen;
}
/* Easy clearing of floats (see http://positioniseverything.net/easyclearing.html) */
.cf:after {
  display:block;
  clear:both;
  height:0;
  visibility:hidden;
  content:" ";
  font-size:0;
}
/* Does not validate – use conditional comments for this bit if you want valid CSS */
.cf {*zoom:1;}
