.direnv/
.envrc
.nixpkgs-version.json
.idea
node_modules
tmp
logs
dist
npm-debug.log
test/expected/*.svg
test/actual/
*.css.d.ts
test/playground.json
src/themes/dark/
src/themes/plain/
src/themes/experimental/
es5/
esnext/
