node_modules/
tmp/
.idea/
test/lib/
test/reports/
test/last-known-goods/
test/logs/
demo/jquery-demos/
demo/web-component-demos/
demo/input-data/
demo/doc/
docs/
demo/lib/
gh-pages
gh-pages/*
dist
dist/
dist/*
dist/**/*
jspm_packages/
logs/
localhost.*
config.js
index.html
lib
lib/
lib/*
lib/**/*
typings/
demo/TODO_index.html
