<script type="image/svg+xml">
   <svg 
       width="200" height="200"
       style="background-color: #D2B48C; display: block; margin-bottom: 5px;"
       id="embeddedSVG">
     <g 
        id="myGroup" 
        fill="blue" 
        style="font-size: 18px; text-anchor: middle; font-family: serif;">
         <circle
              id="myCircle" 
              cx="100" cy="75" r="50"
              stroke="firebrick"
              stroke-width="3" />
         <text x="100" y="155">Hello World</text>
         <text x="100" y="175">From Embedded SVG!</text>
     </g>
   </svg>
</script>
<!--
<input type="text" ng-model="searchTarget" placeholder="Find in pathway">
<button id="search" ng-click="drawingParameters.viewSize = 'small';">
	<i class="icon-large icon-search"></i>
</button>
-->
