<svg width="50" height="50" style="position:relative; float:right;" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
	<!-- Created with SVG-edit - http://svg-edit.googlecode.com/ -->
	<g>
	<title>Layer 1</title>
	<circle stroke="#999999" id="svg_15" r="19.31822" cy="20.0657" cx="20.29244" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" fill="#e5e5e5"/>
	<path transform="rotate(-180 32.3098 20.0657)" id="svg_24" stroke="#999999" d="m27.69823,20.09077l9.2231,-5.0376l-0.11415,10.02506l-9.10895,-4.98746z" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" stroke-width="null" fill="#999999"/>
	<path stroke="#999999" id="svg_23" d="m2.91731,20.09077l9.22309,-5.0376l-0.11415,10.02506l-9.10894,-4.98746z" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" stroke-width="null" fill="#999999"/>
	<path id="svg_25" transform="rotate(-90 20.2924 32.9348)" stroke="#999999" d="m15.68089,32.95985l9.2231,-5.0376l-0.11415,10.02506l-9.10895,-4.98746z" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" stroke-width="null" fill="#999999"/>
	<path id="svg_26" transform="rotate(90 20.2924 8.47826)" stroke="#999999" d="m15.68089,8.50333l9.2231,-5.0376l-0.11415,10.02506l-9.10895,-4.98746z" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" stroke-width="null" fill="#999999"/>
	</g>
</svg>	
