<svg width="42" height="300" style="position:relative; float:right;" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
	<g>
	<title>Zoom</title>
	<line stroke-width="2" id="svg_11" stroke="#e5e5e5" y2="54.20756" x2="21.83642" y1="54.20756" x1="0.95398" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" fill="none"/>
	<line stroke-width="2" id="svg_13" stroke="#e5e5e5" y2="88.83195" x2="21.83641" y1="88.83195" x1="0.95398" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" fill="none"/>
	<line stroke-width="2" id="svg_14" stroke="#e5e5e5" y2="118.8898" x2="21.83642" y1="118.8898" x1="0.95398" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" fill="none"/>
	<circle stroke="#999999" id="svg_15" r="10.54629" cy="11.29377" cx="11.3952" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" fill="#e5e5e5"/>
	<text xml:space="preserve" text-anchor="middle" font-family="serif" font-size="24" id="svg_6" y="16.89871" x="11.39577" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" stroke-width="0" stroke="#999999" fill="#999999">+</text>
	<circle id="svg_17" stroke="#999999" r="10.54629" cy="166.72986" cx="11.3952" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" fill="#e5e5e5"/>
	<text id="svg_7" xml:space="preserve" text-anchor="middle" font-family="serif" font-size="24" y="172.16944" x="11.39043" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" stroke-width="0" stroke="#999999" fill="#999999">-</text>
	<path stroke="#999999" id="svg_20" d="m6.18214,28.42044l10.42612,-0.09964l-5.238,120.55141l-5.18813,-120.45177z" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" fill="#e5e5e5"/>
	<rect stroke="#999999" id="svg_4" height="7" width="21" y="61.6286" x="0.8952" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" fill="#b2b2b2"/>
	<line stroke-width="2" id="svg_10" stroke="#999999" y2="28.83646" x2="21.83641" y1="28.83646" x1="0.95398" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" fill="none"/>
	<line stroke-width="2" id="svg_12" stroke="#999999" y2="148.78612" x2="21.83642" y1="148.78612" x1="0.95398" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" fill="none"/>
	</g>
</svg>
