<div style="width=200; display:block; clear:both;">
	<span ng-include src="'partials/buttons/findInPathway.html'"></span>
</div>
<div style="width=200; display:block; clear:both;">
	<span ng-include src="'partials/buttons/pan.html'"></span>
</div>
<div style="width=200; display:block; clear:both;">
	<span ng-include src="'partials/buttons/zoom.html'"></span>
</div>
<!--
// This is not ready yet. It will be a version 2 feature.
<div style="width=200; display:block; clear:both;">
	<span ng-include src="'partials/buttons/resizeView.html'"></span>
</div>
-->
