<!DOCTYPE html>
<meta charset="utf-8">
<title>pathvisio.js renderer</title>

<!-- 
Style guides can be arbitrary, but for sake of consistency within this project, let's use these:
http://google-styleguide.googlecode.com/svn/trunk/htmlcssguide.xml
http://google-styleguide.googlecode.com/svn/trunk/javascriptguide.xml
-->

<script type="text/javascript" src="http://mbostock.github.com/d3/d3.js?1.27.1"></script>
<style>
  text {
    font-size: 200px;
    font-family: "arial";
  }
</style>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<!--<object id="svg-container" data="http://192.168.42.84/~andersriutta/d3-from-gpml-using-defs/pathwayDefs.svg" type="image/svg+xml" width="500" height="500"></object>-->
<script>
function clone(selector) {
  var node = d3.select(selector).node();
  return d3.select(node.parentNode.insertBefore(node.cloneNode(true),
  node.nextSibling));
}

/*
// If users want to use pathvisio.js from another domain without copying over the full source,
// they will need to be able to access pathwayDefs.svg from a non-WikiPathways domain. For widget
// functionality, an iframe would suffice. For example, cross-origin policy would block 
// pathwayDefs.svg from being loaded for visitors accessing 
// http://127.0.0.1/~andersriutta/d3-from-gpml-using-defs/pathway-from-defs.html,
// but with an iframe, as in example at ./iframeWidget.html, pathwayDefs.svg would be on the same
// origin as the script request.
// To provide this, replace the appropriate line below with this line:
d3.xml("http://192.168.42.84/~andersriutta/d3-from-gpml-using-defs/pathwayDefs.svg", "image/svg+xml", function(xml) {

// If we wanted to request pathwayDefs.svg with a GET request, we could use JSONP, but
// this would require changing server side settings. For more informatiion, see:
// http://stackoverflow.com/questions/1678214/javascript-how-do-i-create-jsonp

$.ajax({
  type: "GET",
  url: "http://192.168.42.84/~andersriutta/d3-from-gpml-using-defs/pathwayDefs.svg",
  dataType: "jsonp text",
  success: function(xmlResponse) {
  // process data 
  console.log(xmlResponse);
  }
});

// It would also be possible to recreate pathwayDefs.svg using d3.js. I'm not sure is faster:
// downloading an already created pathwayDefs.svg or drawing it with d3. This is something to
// test later on.

// One of the big benefits of using pathwayDefs.svg is that editing the SVG is probably more
// accessible for maintainability than editing the d3 code (if pathwayDefs.svg were created
// using d3). It would be possible to do both: download pathwayDefs.svg if on WikiPathways.org
// domain or recreate it with d3 if not. Is it possible to create d3 code from an existing
// svg?
*/

d3.xml('pathwaydefs.svg', 'image/svg+xml', function(xml) {
  var svg = xml.documentElement; 
  var viewport = svg.getElementById('viewport');
  svg.removeChild(viewport);
  document.body.appendChild(xml.documentElement);	
  /*
		var svg = d3.select('#pathway-image');
		svg[0].setAttribute('width', '200');
		svg[0].setAttribute('height', '200');

		var path = self.path = svg.selectAll('path');
    console.log(path);
		path[0][8].setAttribute('stroke', 'red');
		var defs = svg.select('defs');

		var arrowStartBlack = defs.select('#arrow-start-black');
		var arrowEndBlack = defs.select('#arrow-end-black');

		var mimCatalysisEndBlack = defs.select('#mim-catalysis-end-black');

		var arrowStartRed = clone(arrowStartBlack[0][0]);
		arrowStartRed[0][0].setAttribute('id', 'arrow-start-red');
		arrowStartRed[0][0].setAttribute('style', 'stroke:none; fill:red;');

		var arrowEndRed = clone(arrowEndBlack[0][0]);
		arrowEndRed[0][0].setAttribute('id', 'arrow-end-red');
		arrowEndRed[0][0].setAttribute('style', 'stroke:none; fill:red;');

		var arrowEndYellow = clone(arrowEndBlack[0][0]);
		arrowEndYellow[0][0].setAttribute('id', 'arrow-end-yellow');
		arrowEndYellow[0][0].setAttribute('fill', 'yellow');
		arrowEndYellow[0][0].setAttribute('stroke', 'yellow');

		var mimCatalysisEndRed = clone(mimCatalysisEndBlack[0][0]);
		mimCatalysisEndRed[0][0].setAttribute('id', 'mim-catalysis-end-red');
		mimCatalysisEndRed[0][0].setAttribute('stroke', 'red');
		mimCatalysisEndRed[0][0].setAttribute('fill', 'white');

		var timeoutId = window.setTimeout(function() {
			path[0][8].setAttribute('marker-end', 'url(#arrow-end-yellow)');
		}, 300);
		var timeoutId = window.setTimeout(function() {
			path[0][8].setAttribute('marker-end', 'url(#arrow-end-black)');
		}, 700);

		var timeoutId = window.setTimeout(function() {
			path[0][8].setAttribute('marker-end', 'url(#mim-stimulation-end-black)');
		}, 1100);

		var timeoutId = window.setTimeout(function() {
			path[0][8].setAttribute('marker-end', 'url(#mim-catalysis-end-red)');
		}, 1500);

		var timeoutId = window.setTimeout(function() {
			path[0][8].setAttribute('marker-start', 'url(#arrow-start-red)');
		}, 1900);
    */
  });
</script>

<script type="text/javascript">
  d3.xml("WP103_41337.gpml", "application/xml", function(xml) {
  nodes2 = [1, 2, 3];
  console.log(nodes2);
  jsonRectangles = [ { "x_axis": 10, "y_axis": 10, "height": 20, "width":20, "color" : "green" }, { "x_axis": 160, "y_axis": 40, "height": 20, "width":20, "color" : "purple" }, { "x_axis": 70, "y_axis": 70, "height": 20, "width":20, "color" : "red" }];
  console.log(jsonRectangles);
  getPathway = function(d) {
        return d3.select(d).selectAll("Pathway")[0].map(function(d) {
        return { pathway : { 
          boardwidth : d3.select(d).select("Graphics").attr("BoardWidth")/20,
          boardheight : d3.select(d).select("Graphics").attr("BoardHeight")/20 
        }};
    })
  }
  var pathway = getPathway(xml);
  console.log(pathwayc = pathway);
  getNodes = function(d) {
        return d3.select(d).selectAll("DataNode")[0].map(function(d) {
        return { node : { 
          BackpageHead : d3.select(d).attr("BackpageHead"),
          color : d3.select(d).selectAll("Graphics")[0].map(function(d) {
            return d3.select(d).attr("Color"); 
          }),
          x : d3.select(d).selectAll("Graphics")[0].map(function(d) {
            return (d3.select(d).attr("CenterX") - d3.select(d).attr("Width"))/20; 
          }),
          y : d3.select(d).selectAll("Graphics")[0].map(function(d) {
            return (d3.select(d).attr("CenterY") - d3.select(d).attr("Height"))/20; 
          }),
          width : d3.select(d).selectAll("Graphics")[0].map(function(d) {
            return d3.select(d).attr("Width")/20; 
          }),
          height : d3.select(d).selectAll("Graphics")[0].map(function(d) {
            return d3.select(d).attr("Height")/20; 
          }),
          fill : d3.select(d).selectAll("Graphics")[0].map(function(d) {
            return  "#FFF"; 
          }),
          stroke : d3.select(d).selectAll("Graphics")[0].map(function(d) {
            return  d3.select(d).attr("Color"); 
          })
        }};
    })
      }
  var nodes = getNodes(xml);
  console.log(nodesc = nodes);

  var drag = d3.behavior.drag()
    .on("drag", dragmove);

  var log = d3.select("#log");

  var body = d3.select("body")

  //var svg = body.append("svg:svg")
  var svg = d3.select("svg")
    .data(pathway)
    .attr("width", function (pathway) {return pathway.pathway["boardwidth"];})
    .attr("height", function (pathway) {return pathway.pathway["boardheight"];})

  /*
     <g id="g-wbf240" transform="translate(10 220)" class="data-node gene-product">
          <use id="use-wbf240" x="0" y="0" width="100" height="50" xlink:href="#shape-rect"/>
          <text x="50" y="25" id="text-wbf240">rect</text>
        </g>
        */


  var g = svg.selectAll("g")	
    .data(nodes)
    .enter()
    .append("g")
    .attr("id", "g-wbf240")
    .attr('transform', function(nodes) {return 'translate(' + nodes.node["x"] + ' ' + nodes.node["y"] + ')'})
    .attr("class", "data-node gene-product")
    .call(drag);

    var use = g.each(function(d) {
      d3.select(this).append('use')
      .attr("id", "use-wbf240")
      .attr("x", 0)
      .attr("y", 0)
      .attr("width", function (nodes) {return nodes.node["width"]})
      .attr("height", function (nodes) {return nodes.node["height"]})
      // d3 bug strips 'xlink' so need to say 'xlink:xlink'
      .attr("xlink:xlink:href", "#shape-rounded-rect")

      d3.select(this).append('text')
      .attr("id", "text-wbf240")
      .attr("x", function (nodes) {return nodes.node["width"] / 2 })
      // TODO replace '12' with the actual font-size
      .attr("y", function (nodes) {return nodes.node["height"] / 2 + 0.3*12 })
      .text('rect');
    });


        //.attr("x", d.x = d3.event.x)
        //.attr("y", d.y = d3.event.y);
    
  function dragmove(d) {
      log.text(
          "x: " + d3.event.x + ", " + 
          "y: " + d3.event.y + ", " + 
          "dx: " + d3.event.dx + ", " + 
          "dy: " + d3.event.dy);
    d.x=d3.event.x;
    d.y=d3.event.y;
    d3.select(this)
      .attr("x", d3.event.x)
      .attr("y", d3.event.y);
  }	
  /*var rectAttrs = rect
    .attr("x", function (nodes) {return nodes.Graphics["-CenterX"]/20 - nodes.Graphics["-Width"]/40})
          .attr("y", function (nodes) {return nodes.Graphics["-CenterY"]/20 - nodes.Graphics["-Height"]/40})
    .attr("width",function (nodes) {return nodes.Graphics["-Width"]/20} )
    .attr("height", function (nodes) {return nodes.Graphics["-Height"]/20})
    .style("fill", "#FFF")
    .style("stroke", function (nodes) {return nodes.Graphics["-Color"]});
    
  var text = svg.selectAll("text")
    .data(nodes)
    .enter()
    .append("text");

  var textAttrs = text
    .attr("x", function (nodes) {return nodes.Graphics["-CenterX"]/20 - nodes.Graphics["-Width"]/40})
          .attr("y", function (nodes) {return nodes.Graphics["-CenterY"]/20 - nodes.Graphics["-Height"]/40})
    .attr("dy", function (nodes) {return nodes.Graphics["-Height"]/25})
    .attr("dx", 5)
    .text(function (nodes) {return nodes["-TextLabel"]})
    .style("fill", function (nodes) {return nodes.Graphics["-Color"]});


  var line = svg.selectAll("line")
    .data(lines)
    .enter()
    .append("line");

  var lineAttrs = line
    .attr("x1", function(lines) { return lines.Graphics.Point[0]["-x"]/20})
          .attr("y1", function(lines) { return lines.Graphics.Point[0]["-y"]/20})
          .attr("x2", function(lines) { return lines.Graphics.Point[1]["-x"]/20})
          .attr("y2", function(lines) { return lines.Graphics.Point[1]["-y"]/20})
    .style("stroke", function(lines) { return lines.Graphics["-Color"]});*/
  });

</script>
