<!--
<div id="toolbar" style='position: absolute; border-width:1px; border-color:Gray; border-style: solid; width: 97%; height: 100px; padding: 1%'>
	<div id="dragButton" style="float: left; border-width:1px; border-color:black; border-style: solid; width: 50px; height: 50px;">GP</div>
	<div id="dragButtonMetabolite" style="float: right; border-width:1px; border-color:blue; border-style: solid; width: 50px; height: 50px;">Metab</div>
</div>
-->
<div class="btn-toolbar">
	<div class="btn-group">
	<h3>Data Nodes</h3>
		<button class="btn">Gene</button>
		<button class="btn">Met</button>
		<button class="btn">Path</button>
		<button class="btn">Pro</button>
		<button class="btn">RNA</button>
		<button class="btn">?</button>
	</div>
	<div class="btn-group">
	<h3>Basic Interactions</h3>
		<button class="btn">\</button>
		<button class="btn">-></button>
		<button class="btn">:</button>
		<button class="btn">...></button>
		<button class="btn">o~o</button>
		<button class="btn">-|</button>
	</div>
	<div class="btn-group">
	<h3>Graphical Elements</h3>
		<button class="btn">Label</button>
		<button class="btn">But</button>
		<button class="btn">But</button>
		<button class="btn">But</button>
		<button class="btn">But</button>
		<button class="btn">But</button>
	</div>
	<div class="btn-group">
	<h3>Cellular Compartments</h3>
		<button class="btn">But</button>
		<button class="btn">But</button>
		<button class="btn">But</button>
		<button class="btn">But</button>
		<button class="btn">But</button>
	</div>
</div>
