<!DOCTYPE html>
<meta charset="utf-8">
<title>pathvisio.js gpml2json interface</title>

<!-- 
Style guides can be arbitrary, but for sake of consistency within this project, let's use these:
http://google-styleguide.googlecode.com/svn/trunk/htmlcssguide.xml
http://google-styleguide.googlecode.com/svn/trunk/javascriptguide.xml
http://google-styleguide.googlecode.com/svn/trunk/jsoncstyleguide.xml#General_Guidelines
-->

<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="../js/gpml2json.js"></script>
<script src="../js/jxon.js"></script>
<script src="../js/jquery-1.9.1.js"></script>
<script src="../js/rgbcolor.js"></script>

<body>
  <h1>pathvisio.js gpml2json interface</h1>

  <form>
    GPML File Name (without .gpml extension): 
    <input type="text" id="gpml-file-name" />
    <input type="submit" onclick="submitRequest()" />
  </form>

  <h2>GPML</h2>
  <textarea name="gpml" id="gpml" rows="20" cols="150">Write something here</textarea>
  <h2>json</h2>
  <textarea name="json" id="json" rows="20" cols="150">Write something here</textarea>
</body>

<script>

    $("form").submit( function () {
      return false;
    } );

    function displayResults(sGpml, sJson) {
      $('#gpml').text(sGpml)
      $('#json').text(sJson)
    }

    // so it won't submit

    function submitRequest() {
      var sGpmlUrl = '../../samples/gpml/' + $('#gpml-file-name').val() + '.gpml';
      getJson(sGpmlUrl, displayResults);
    };
 
</script>
