<!DOCTYPE html>
<meta charset="utf-8">
<title>pathvisio.js testing home</title>

<!-- 
Style guides can be arbitrary, but for sake of consistency within this project, let's use these:
http://google-styleguide.googlecode.com/svn/trunk/htmlcssguide.xml
http://google-styleguide.googlecode.com/svn/trunk/javascriptguide.xml
http://google-styleguide.googlecode.com/svn/trunk/jsoncstyleguide.xml#General_Guidelines
-->

<body>
  <h1>pathvisio.js testing home</h1>

  <p>
  <a href="https://github.com/wikipathways/pathvisio.js">Code on Github</a>
  </p>

  <p>
  <a href="./gpml2json.html">Convert GPML to JSON</a>
  </p>

  <p>View sample pathways with pathvisio.js</p>
  <ul>
    <li><a href="render-d3.html?pathway=all-elements.gpml">all-elements</a></li>
    <li><a href="render-d3.html?pathway=WP254_63143.gpml">WP254_63143</a></li>
    <li><a href="render-d3.html?pathway=WP299_.gpml">WP299_</a></li>
    <li><a href="render-d3.html?pathway=WP673_63184.gpml">WP673_63184</a></li>
  </ul>

</body>
