/* pathvisio.js assumes the default drawing board background color is white, and the default element color is black. */

  svg {
    color-interpolation: auto;
    image-rendering: auto;
    shape-rendering: auto;
    vector-effect: non-scaling-stroke;
  }

  body {
    text-align:center;
    margin:0; 
  }

  div.outer {
    display:table;
    text-align:center;
    margin-top:0; 
    margin-bottom:0; 
    margin-left:auto; 
    margin-right:auto;
  }

  p {
    display:table-cell;
    vertical-align:middle;
    color: black;
  }

  text, p {
    font-family: Sans-Serif;
    font-size: 10px;
  }

  text {
    fill: black;
    stroke: none;
    text-anchor: middle;
  }

  .complex {
    fill: rgb(180,180,100);
    fill-opacity: 0.098;
    stroke: gray;
    stroke-dasharray: 4,2;
    stroke-miterlimit: 1;
    stroke-width: 1px;
  }

  .complex {
    stroke-dasharray: 1;
  }

  .label {
    font-size: 10px;
    stroke: none;
  }

  .data-node {
    fill: white;
    fill-opacity: 1;
    stroke: black;
    stroke-dasharray: 0;
    stroke-miterlimit: 1;
    stroke-width: 1px;
  }

  .gene-product {
    stroke: black;
  }

  text.gene-product, p.gene-product {
    fill: black;  
    stroke: none;
  }

  .metabolite {
    stroke: blue;
  }

  text.metabolite, p.metabolite {
    fill: blue;
    stroke: none;
  }

  .pathway {
    stroke: rgb(20,150,30);
  }

  text.pathway, p.pathway {
    fill: rgb(20,150,30);
    font-size: 10px;
    stroke: none;
  }

  .protein {
    stroke: black;
  }

  text.protein, p.protein {
    fill: black;  
    stroke: none;
  }

  .rna {
    stroke: black;
  }

  text.rna, p.rna {
    fill: black;  
    stroke: none;
  }

  .unknown {
    stroke: black;
  }

  text.unknown, p.unknown {
    fill: black;  
    stroke: none;
  }

  .shape {
    fill: white;
    fill-opacity: 1;
    stroke: black;
    stroke-dasharray: 0;
    stroke-miterlimit: 1;
    stroke-width: 1px;
  }

  text.shape, p.shape {
    fill: black;  
    stroke: none;
  }

  use.label {
    fill: white;
    fill-opacity: 1;
    stroke-width: 0;
  }

  .interaction {
    fill:none;
    stroke: black; 
    stroke-width: 1px; 
  }

  marker {
    /* this is what should work per the spec
    stroke-dasharray: none; */
    /* but I need to add this to make it work in Safari */
    stroke-dasharray: 9999999999999999999999999;
  }

  .broken-stroke {
    stroke-dasharray: 5,3;
  }

