  svg {
    color-interpolation: auto;
    image-rendering: auto;
    shape-rendering: auto;
    vector-effect: non-scaling-stroke;
  }

  text, p {
    color: black;
    font-family: Sans-Serif;
    font-size: 12px;
    text-anchor: middle;
  }

  .complex {
    fill: rgb(180,180,100);
    fill-opacity: 0.098;
    stroke: gray;
    stroke-dasharray: 4,2;
    stroke-miterlimit: 1;
    stroke-width: 1px;
  }

  .complex {
    stroke-dasharray: 1;
  }

  .label {
    font-size: 12px;
    font-weight: bold;
    stroke: none;
  }

  .data-node {
    fill: white;
    fill-opacity: 1;
    stroke: black;
    stroke-dasharray: 0;
    stroke-miterlimit: 1;
    stroke-width: 1px;
  }

  .gene-product {
    stroke: black;
  }

  text.gene-product, p.gene-product {
    fill: black;  
    stroke: none;
  }

  .metabolite {
    stroke: blue;
  }

  text.metabolite, p.metabolite {
    color: blue;
  }

  .pathway {
    stroke: rgb(20,150,30);
  }

  text.pathway, p.pathway {
    color: rgb(20,150,30);
    font-size: 12px;
  }

  .shape {
    fill: white;
    fill-opacity: 1;
    stroke: black;
    stroke-dasharray: 0;
    stroke-miterlimit: 1;
    stroke-width: 1px;
  }

  .label {
    fill: white;
    fill-opacity: 1;
  }

  .solid-line {
    fill:none;
    stroke: black; 
    stroke-width: 1px; 
  }

  .dashed-line {
    fill:none;
    stroke: black; 
    stroke-dasharray: 5,3,2;
    stroke-width: 1px; 
  }

