<p>app/partials/render.html using svgweb, javascript and an html object</p>
<div id="svgContainer1" height="500" width="500"></div>
<script>
function objLoadFunc() {

	var doc = document.getElementById('mySVG').contentDocument;                
	var circle = document.createElementNS(svgns, 'circle');
	circle.setAttribute('x', 15);
	circle.setAttribute('y', 15);
	circle.setAttribute('r', 5);
	circle.setAttribute('fill', 'red');
	var root = doc.getElementsByTagNameNS(svgns, 'svg')[0];
	root.appendChild(circle);
	console.log('window.onsvgload');
	// use some JavaScript to animate the rectangles over and over
	window._counter = 1;
	window.setInterval(function() {
		var rect = doc.getElementById('myRect');
		var fill;
		if (window._counter % 2 == 0) {
			fill = 'blue';
		} else {
			fill = 'darkblue';
		}
		rect.setAttribute('fill', fill);

		window._counter++;
	}, 5000);

	// via javascript
       // create SVG root element
	var svg = document.createElementNS(svgns, 'svg'); // don't need to pass in 'true'
	svg.setAttribute('width', '100');
	svg.setAttribute('height', '100');

	var rectGreen = document.createElementNS(svgns, 'rect');
	rectGreen.setAttribute('x', 10);
	rectGreen.setAttribute('y', 10);
	rectGreen.setAttribute('width', 40);
	rectGreen.setAttribute('height', 20);
	rectGreen.setAttribute('fill', 'green');
	svg.appendChild(rectGreen);

	var circleBlue = document.createElementNS(svgns, 'circle');
	circleBlue.setAttribute('x', 15);
	circleBlue.setAttribute('y', 15);
	circleBlue.setAttribute('r', 5);
	circleBlue.setAttribute('fill', 'blue');
	svg.appendChild(circleBlue);
	console.log(circleBlue);

	/*
	// this does not work
	var pathwayGroup = document.getElementById('viewport');
	svg.appendChild(pathwayGroup);
	*/

	svgweb.appendChild(svg, document.getElementById('svgContainer2')); // note that we call svgweb.appendChild
}

function loadFunc() {
	var obj = document.createElement('object', true);
	obj.id = 'mySVG';
	//obj.setAttribute('classid', 'image/svg+xml');
	obj.setAttribute('type', 'image/svg+xml');
	obj.setAttribute('src', 'svg-files/mysvg.svg');
	//obj.setAttribute('data', '../svg-files/mysvg.svg');
	obj.setAttribute('width', '250');
	obj.setAttribute('height', '100');

	obj.addEventListener(window.svgweb ? 'SVGLoad' : 'load', objLoadFunc, false);

	var container = document.getElementById('svgContainer1');
	if (window.svgweb) {
		svgweb.appendChild(obj, container);
	} else {
		container.appendChild(obj);
	}

}

if (window.svgweb) {
	svgweb.addOnLoad(loadFunc);
}
else {
	window.addEventListener('load', loadFunc, false);
}

</script>

<p>app/partials/render.html using svgweb and javascript without an html object</p>
<div id="svgContainer2" height="500" width="500"></div>

<p>app/partials/render.html script inline from angular</p>
<svg id="drawingBoard" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" preserveaspectratio="xMidYMid" drawing-board>
	<g id="viewport" xmlns="http://www.w3.org/2000/svg">
		<g ng-repeat="DataNode in Pathway.DataNodes" xmlns="http://www.w3.org/2000/svg" node>
			<rect xmlns="http://www.w3.org/2000/svg" node-bounding-box></rect>
			<text xmlns="http://www.w3.org/2000/svg" font-family="Arial" node-label></text>
		</g>
	</g>
</svg>
<!-- does this script belong here or in index.html? -->
<script type="text/javascript" src="js/jquery-svgpan.js"></script>
