<script>
</script>
<h1>end</h1>
<p>dynamic inside</p>
<div id="dog" height="500" width="500"></div>

<p>dynamic</p>
<svg id="drawingBoard" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" preserveaspectratio="xMidYMid" drawing-board>
	<g id="viewport">
		<g ng-repeat="DataNode in Pathway.DataNodes" node>
			<rect node-bounding-box></rect>
			<text font-family="Arial" node-label></text>
		</g>
	</g>
</svg>
<!-- does this script belong here or in index.html? -->
<script type="text/javascript" src="js/jquery-svgpan.js"></script>
