<button style="float:left;" ng-click="viewSize = 'small'" btn-view-size>
	<i class="icon-large icon-resize-small"></i>
	View Small
</button>
			<!-- This doesn't work with the modal yet
			<button style="float:left;" ng-click="editable = true" ng-init="editable = false" go-full-screen>Edit</button>-->
<button style="float:left;" ng-click="viewSize = 'large'" btn-view-size>
	<i class="icon-large icon-resize-full"></i>
	View Large	
</button>
<button style="float:left;" ng-click="viewSize = 'fullscreen'" btn-view-size>
<i class="icon-large icon-fullscreen"></i>
	View Full Screen
</button>
