<div style="position:relative; width:100%; height:auto;" id="pathwayEditor" class="pathwayEditor">
	<div style="position:relative; width:100%; height:auto; float:left;">
		<span ng-include src="'partials/render.html'" />
		<div style="position:relative">
			<!-- from http://xme.im/display-fullscreen-website-using-javascript -->
			<script type="text/javascript" src="js/fullscreen.js"></script>
			<button style="float:left;" onclick="enableZoom = 1;" ng-init="editable = false" go-full-screen>Enable Zoom</button>
			<button style="float:left;" onclick="enableZoom = 0;" ng-init="editable = false" go-full-screen>Disable Zoom</button>
			<button style="float:left;" ng-click="editable = true" ng-init="editable = false" go-full-screen>Edit Full Screen</button>
		</div>
	</div>
</div>
