<div style="position:relative; width:100%; height:auto;" id="pathwayEditor" class="pathwayEditor">
	<div style="position:relative; width:100%; height:auto; float:left;">
		<span ng-include src="'partials/render.html'" />
		<div style="position:relative; width:100%;">
			<div style="position:relative; float:left;">
				<button style="float:left;" ng-click="zoomable = 'toggleState'" btn-zoomable></button>
			</div>
			<div style="position:relative; float:left;">
				&nbsp; &nbsp; View: &nbsp;
			</div>
			<div style="position:relative; float:left;">
				<span ng-include src="'partials/viewSizeToolbar.html'" />
			</div>
		</div>
	</div>
</div>
