<div style="position:relative; width:100%; height:90%;" id="pathwayEditor" class="pathwayEditor">
	<div style="position:relative; width:70%; height:auto; float:left;">
		<span ng-include src="'partials/render.html'" />
		<div style="position:relative">
			<button style="float:left;" ng-click="zoomable = 'toggleState'" btn-zoomable></button>
			<button style="float:left;" ng-click="editable = 'foo'" btn-editable>Exit Edit Mode</button>
		</div>
		<div style="position:relative; float:right;">
			<span ng-include src="'partials/viewSizeToolbar.html'" />
		</div>
	</div>
	<div style="position:relative; min-width: 300px; width:30%; height:auto; float:right;">
		<span ng-include src="'partials/editorToolbar.html'" />
	</div>
</div>
