<div style="position:relative; width:100%; height:auto;" id="pathwayEditor" class="pathwayEditor">
	<div style="position:relative; width:100%; height:auto; float:left;">
		<span ng-include src="'partials/render.html'" />
		<div style="position:relative">
			<div style="position:relative; float:left;">
				<button style="float:left;" ng-click="zoomable = 'toggleState'" btn-zoomable></button>
				<button style="float:left;" ng-click="editable = true" btn-editable>Edit</button>
			</div>
			<div style="position:relative; float:right;">
				<span ng-include src="'partials/viewSizeToolbar.html'" />
			</div>
		</div>
	</div>
</div>
