<style type="text/css">
html, body {
    margin: 0;
    padding: 0;
    overflow: hidden
}
#content {
    background: #eee;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 25px;
    width: 100%;
    overflow-y: scroll
}
#footer {
    background: #ccc;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 25px
}
</style>
<div id="content">
	<div ng-include src="'partials/render.html'">
	</div>
</div>
<div id="footer">
	<button style="float:left;" ng-click="editable = true" btn-editable>Edit</button>
	<div style="position:relative; float:right; min-height:150;">
		<span ng-include src="'partials/viewSizeToolbar.html'"></span>
	</div>
</div>
