@import url('https://fonts.googleapis.com/css?family=Roboto');

.global {
    font-family: 'Roboto', sans-serif;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.container {
    color: #333333;
    background-color: white;
    width: 100%;
    height: 100%;
}

.diagram {
    background-color: transparent;
    width: 100%;
    height: 100%;
}

.viewport {
    background-color: transparent;
}