/* Hide the top-level citation numbers */
.Viewport > .Citation > .Text {
  font-size: 0px;
}

/* Hide the InfoBox */
.Viewport > .Text {
  font-size: 0;
}

/* having a thin stroke might help with contrast for some foreground/background combos */
.Text {
  stroke: none;
}

.DataNode {
  stroke-miterlimit: 1;
  pointer-events: auto;
}

.DataNode:hover {
  cursor: pointer;
}

/* TODO should this apply to things other than DataNodes? */
.DataNode .Text {
  pointer-events: none;
}

.DataNode .Highlighted {
  opacity: 0.6;
  stroke-width: 0px;
}

/*
.Citation .Icon {
  fill: none;
  stroke-width: 0px;
}
*/

.Citation .Text {
  text-align: center;
  vertical-align: top;
  font-size: 7px;
  fill: #999999;
  fill-opacity: 1;
  stroke: none;
}
