/* Hide the top-level citation numbers */
.Viewport > .Citation > .Text {
  font-size: 0px;
}

/* Hide the InfoBox */
.Viewport > .Text {
  font-size: 0;
}

/* TODO: having a thin stroke might help with contrast for
 * certain foreground/background combos. Should we use a
 * stroke of 0.05px and maybe apply an invert filter? */
.Text {
  stroke: none;
}

.DataNode {
  stroke-miterlimit: 1;
}

.DataNode:hover {
  cursor: pointer;
}

.DataNode .Highlighted {
  opacity: 0.6;
  stroke-width: 0px;
}

.Citation .Icon {
  fill: none;
  stroke-width: 0px;
}

.Citation .Text {
  text-align: center;
  vertical-align: top;
  font-size: 7px;
  fill: #999999;
  fill-opacity: 1;
  stroke: none;
}
