.Viewport > .Icon {
  filter: url(#Invert95);
}

/* Hide the InfoBox */
.Viewport > .Text {
  font-size: 0;
}

.Edge > path {
  stroke-width: 1.1px;
}

.Viewport .DataNode,
.Group .DataNode,
.Viewport .Group .Icon {
/*
  filter: url(#Invert95);
*/
  /*stroke-miterlimit: 1;*/
  /*filter: drop-shadow( 5px 5px 5px red );*/
  /*filter: drop-shadow(16px 16px 20px black);*/
  /* Same syntax as box-shadow */
  /*
  filter: drop-shadow( 2px 2px 2px #000 );
  -webkit-filter: drop-shadow( 2px 2px 2px #000 );
  */
}

.GroupGroup > .Icon {
  fill: transparent;
  stroke-width: 0px;
}

.GroupComplex > .Icon {
  fill: #B4B464;
  fill-opacity: 0.1;
  stroke: #808080;
}

.GroupNone > .Icon {
		fill: #B4B464;
		fill-opacity: 0.1;
    stroke: #808080;	
}

.GroupPathway > .Icon {
  fill: #008000;
  fill-opacity: 0.05;
  stroke: #808080;
}

.CellularComponent > .Icon {
  color: red;
  fill: pink;
  fill-opacity: 0.05;
  stroke: orange;
}

.Label > .Icon {
  color: transparent;
  fill: none;
  fill-opacity: 0;
  stroke: none;
  /*filter: url(#Invert95);*/
}
.Label > .Text {
  fill: #FEFEFE;
  /*filter: url(#Invert95);*/
}

.DataNode > .Icon {
  /* clip-path needed because rx & ry don't work in FF or Safari */
  clip-path: url(#ClipPathRoundedRectangle);
  rx: 15px;
  ry: 15px;
  stroke-width: 0px;
}
.DataNode > .Text {
  font-weight: bold;
}
.DataNode:hover {
  cursor: text;
}

.DataNode.GeneProduct > .Icon {
  fill: #f4d03f;
}
.DataNode.GeneProduct .Text {
  fill: #333;
}

.DataNode.Protein > .Icon {
  fill: brown;
}
.DataNode.Protein > .Text {
  fill: #FEFEFE;
}

.DataNode.Rna > .Icon {
  fill: #9453A7;
}
.DataNode.Rna > .Text {
  fill: #ECF0F1;
}

.DataNode.Pathway > .Icon {
  filter: url(#WhiteToGreen);
  /*
  fill: #75C95C;
  */
  /* NOTE: Uncomment the line below to see an example
   *      of adding a dropshadow to Pathway DataNodes: */
  /*filter: 'drop-shadow( 2px 2px 2px #000 )'; */
}
.DataNode.Pathway > .Text {
  filter: url(#Invert100);
  /*fill: #1C2833;*/
}

.DataNode.Metabolite > .Icon {
  fill: #0000EE;
}
.DataNode.Metabolite > .Text {
  fill: #FEFEFE;
}

[typeof~="wikidata:Q47512"].DataNode.Metabolite:hover,
[typeof~="wikidata:Q193166"].DataNode.Metabolite:hover,
[typeof~="wikidata:Q213580"].DataNode.Metabolite:hover,
[typeof~="wikidata:Q715317"].DataNode.Metabolite:hover {
  clip-path: unset;
  rx: unset;
  ry: unset;
}

[typeof~="wikidata:Q47512"].DataNode.Metabolite:hover > .Node > .Icon,
[typeof~="wikidata:Q193166"].DataNode.Metabolite:hover > .Node > .Icon,
[typeof~="wikidata:Q213580"].DataNode.Metabolite:hover > .Node > .Icon,
[typeof~="wikidata:Q715317"].DataNode.Metabolite:hover > .Node > .Icon {
  cursor: default;
  filter: url(#Invert95);
  /* needed for FF. See
     https://bugzilla.mozilla.org/show_bug.cgi?id=1209061 */
  transform-box: fill-box;
  transform-origin: 50% 50%;
  transform: scale(2, 3);
}

[typeof~="wikidata:Q47512"].DataNode.Metabolite:hover .Text,
[typeof~="wikidata:Q193166"].DataNode.Metabolite:hover .Text,
[typeof~="wikidata:Q213580"].DataNode.Metabolite:hover .Text,
[typeof~="wikidata:Q715317"].DataNode.Metabolite:hover .Text {
  font-size: 0px;
}

[typeof~="wikidata:Q47512"].DataNode.Metabolite:hover > .Node > .Icon {
  fill: url(#PatternQ47512);
  /*transform: scale(2, 2);*/
}

[typeof~="wikidata:Q193166"].DataNode.Metabolite:hover > .Node > .Icon {
  fill: url(#PatternQ193166);
  /*transform: scale(3, 3);*/
}

[typeof~="wikidata:Q213580"].DataNode.Metabolite:hover > .Node > .Icon {
  fill: url(#PatternQ213580);
  /*transform: scale(2.5, 2.5);*/
}

[typeof~="wikidata:Q715317"].DataNode.Metabolite:hover > .Node > .Icon {
  fill: url(#PatternQ715317);
  /*transform: scale(4, 4);*/
}

.DataNode > State {
  filter: url(#WhiteTo33BFFF);
}

.Interaction {
  filter: url(#Invert95);
  stroke-width: 1.3;
}

.Stimulation {
  filter: url(#BlackToGreen);
}

.Inhibition {
  filter: url(#BlackToRed);
}

.Citation .Text {
  fill: gray;
  font-size: 10px;
}
