/* Print Stylesheet for UCSF Department of Neurological Surgery pages */

/* Hide Columns */

#ColumnLeft { display: none; }
#ColumnRight { display: none; }

/* reset */
* { border:0; margin:0; padding:0; font-size:100%; }
body { background-color:#888; color:#444; font-size:62.5%; font-family:arial,helvetica,sans-serif; }


/* styles */

h1 { clear:both; color:#79b; font-size:1.8em; font-weight:normal; margin-bottom:0.3em; }
h2 { color:#79b; font-size:1.4em; font-weight:bold; }
h3 { color:#000; font-size:1.4em; font-weight:normal; }
h4 { color:#79b; font-size:1.2em; font-weight:bold; }

input { border:1px solid #68a; float:left; font-size:1.1em; height:17px; width:225px; }
input.submit { background-color:#9bd; color:#fff; font-weight:bold; margin-left:-1px; padding:1px 0 16px; width:58px;}

p, p.first { font-size:1.3em; line-height:1.4em; }

dl { font-size:1.1em; line-height:1.6em; margin-bottom:1.1em; }
ul li { bullets:#79b; list-style-type:square; }

div.inline { float:left; color:#469; background-color:#fff; padding:10px 20px 0px 20px; font-size:0.9em; text-transform:lowercase; }

/* named styles */

#banner { background-color:#666; width:612px; }

body { background-color:#fff; }

#breadcrumbsns { color:#469; font-size:0.9em; background-color:#fff; padding:10px 20px 0px 20px; text-transform:lowercase; }

#footerns { background-color:#fff; border-top:1px solid #9bc; clear:both; color:#444; width:940px; padding:8px 40px; }
#footerns p { color:#444; font-size:1.0em; line-height:1.2em; }

.float { float:left; }
img.float { float:left; margin:4px 12px 8px 0; }

#Main { clear:both; color:#444; float:none; padding:15px 100px 20px 40px; width:462px; }
#Main p { margin-bottom:1.1em; }

#masthead { color:#fff; }

#wrapper { margin:auto; width:612px; text-align:left; overflow:visible; }



/* links */

a:link, a:visited { color:#469; font-weight:bold; text-decoration:none; }
a:hover, a:active { color:#9bd; font-weight:bold; text-decoration:none; }

#nav a:link, #nav a:visited { color:#fff; font-size:1.3em; font-weight:bold; background-color:#9bd; }
#nav a:hover, #nav a:active { color:#fff; }

#breadcrumbsns a { font-weight:normal; }
#footerns a { color:#444; font-weight:normal; text-decoration:underline; }

a img { border:0; }
