.ontologyTree {
    background:#FFFFFF none repeat scroll 0 0;
    font-size:13px;
    margin:15px 0 0 5px;
    min-height:3em;
    float:left;
    width:350px;
}

#myAutoComplete {
    width:17em; /* set width here or else widget will expand to fit its container */
    padding-bottom:2em;
    float: left;
}
#myAutoComplete li {overflow:hidden; text-overflow:ellipsis; cursor:pointer; }
#myAutoComplete em {font-style:normal; font-weight:bold; color:#000033;}
#myAutoComplete .yui-ac-bd {font-size:12px; color:#666; background-color:#E1E7F3; text-align:left;}

div.otag {
    width : 300px;
    background-color:#E9F8F1;
    border:1px solid #FFCC66;
    margin:10px 0 15px 0;
    padding:5px 10px;
}

div.otaghelp {
    background-color:#F5FFF6;
    border:1px groove #CFF2DE;
    display:inline;
    float:left;
    margin-left:70px;
    padding:0 10px 0 10px;
    position:relative;
    top:-10px;
    width:275px;
}

a.ontologyTag {
    background-color:#E9F8F1;
    padding:0 7px 0 7px;
    margin-right: 3px;
}

div#ontologyACInput .loading{
    background-image: url('img/progress.gif');
    background-position: right;
    background-repeat: no-repeat
}