<html>
  <head>
    <title>Biojs.DetailsFrame</title>
    <script src="../lib/biojs/src/main/javascript/Biojs.js"></script>
    <script src="../lib/biojs/src/main/javascript/Biojs.DetailsFrame.js"></script>
    <script src="../lib/biojs/src/main/resources/dependencies/jquery/jquery-1.7.2.min.js"></script>
    <script src="../lib/biojs/src/main/resources/dependencies/jquery/jquery-ui-1.8.2.custom.min.js"></script>

    <link rel="stylesheet" href="../lib/Biojs/src/main/resources/css/biojs.detailsFrame.css">
    <link rel="stylesheet" href="../lib/jquery-ui/themes/base/jquery-ui.css">

    <script>
      window.onload = function() {
        var instance = new Biojs.DetailsFrame({
          target: "YourOwnDivId",
          features: {
            "id":"P64747",
            "description":"Uncharacterized protein Rv0893c/MT0917",
            "Gene-Name":"Rv0893c",
            "%GC":" 60.63",
            "Location":" Unknown",
            "Chrom-Location":" 946",
            "Strand-Direction":" -1",
            "Cordon-Bias":" 0.07692",
            "Funct-Class":" unknown",
            "Degree":" 15",
            "Betweenness":" 784.68",
            "Closeness":" 0.24790",
            "Eigen":" 0.00003",
            "Hub":" N",
            "Sass-Infect":" 0",
            "Sass-Growth":" 0",
            "GO-Growth":" 0",
            "TDR":" 0",
            "UniProt":" 0",
            "DDTRP":" 0",
            "Gas-Nic":" 0",
            "#-Paralogs":" 11",
            "Mtb-cplx":" 11",
            "Mtb":" 7",
            "Corynebacterineae":" 0",
            "Actinomycetales":" 0",
            "Actinobacteridae":" 0",
            "Bacteria":"0",
            "Non-bacteria":"0",
            "H.sapiens":"0",
            "in_leprae":"0",
            "DN/DS":"0.48",
            "Codon-Volatility":"0.1"
          }
        });
      };
    </script>
  </head>
  <body>
    <div id="YourOwnDivId" class="protein ui-draggable">
    </div>
  </body>
</html>
