<div style="position:relative; width:70%; height:auto; float:left;">
  <div style="width:100%; height:100%; float:right; clear:both;" id="pathway-viewer">
    <div style="width:80%; height:500px" id="pathway-container">
    </div>
    <div id="viewertoolbar" style="position:absolute; right: 0px; top: 20px;">
      <div class="ui-widget ui-corner-all" style="position: absolute; right: 5px; top: 5px; z-index: 1001; background-color: rgb(221, 221, 221); border: 1px solid rgb(170, 170, 170); width:130px">
        <span class="icon icon-eye-open"></span>
        <input id="highlight-by-label" placeholder="Find in pathway" class="ui-autocomplete-input ui-corner-all" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true" style="float:right; width: 100px;">
        <div class="ui-corner-all" style="position: absolute; font-size: 75%; background-color: white; display: none;">
        </div>
      </div>
      <!-- see http://bumbu.github.io/cytoscape.js/debug/ for example of cytoscape.js -->
      <div class="ui-cytoscape-panzoom">
          <div class="ui-cytoscape-panzoom-zoom-in ui-cytoscape-panzoom-zoom-button">
            <span class="icon icon-plus"></span>
          </div>
          <div class="ui-cytoscape-panzoom-zoom-out ui-cytoscape-panzoom-zoom-button">
            <span class="icon icon-minus"></span>
          </div>
          <div class="ui-cytoscape-panzoom-reset ui-cytoscape-panzoom-zoom-button">
            <span class="icon icon-resize-full"></span>
          </div>
          <div class="ui-cytoscape-panzoom-slider">
              <div class="ui-cytoscape-panzoom-slider-background">
              </div>
              <div class="ui-cytoscape-panzoom-slider-handle" style="top: 42.80000001192093px;">
                <span class="icon icon-minus"></span>
              </div>
              <div class="ui-cytoscape-panzoom-no-zoom-tick" style="top: 42.80000001192093px;">
              </div>
          </div>
          <div class="ui-cytoscape-panzoom-panner">
              <div class="ui-cytoscape-panzoom-panner-handle">
              </div>
              <div class="ui-cytoscape-panzoom-pan-up ui-cytoscape-panzoom-pan-button">
              </div>
              <div class="ui-cytoscape-panzoom-pan-down ui-cytoscape-panzoom-pan-button">
              </div>
              <div class="ui-cytoscape-panzoom-pan-left ui-cytoscape-panzoom-pan-button">
              </div>
              <div class="ui-cytoscape-panzoom-pan-right ui-cytoscape-panzoom-pan-button">
              </div>
              <div class="ui-cytoscape-panzoom-pan-indicator" style="display: none; left: 22.424611085682006px; top: 0.12287108520014556px; background-color: rgb(127, 127, 127); background-position: initial initial; background-repeat: initial initial;">
              </div>
          </div>
      </div>
    </div>
    <div id="details-frame" style="visibility: hidden; position:absolute; right: 75px; top: 100px;" class="data-node ui-draggable">
    </div>
  </div>
</div>
