.annotation {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  display: inline-block;
  position: relative;
  vertical-align: text-top;
  text-align: center;
  margin: 0;
  zoom: 1;
  -webkit-font-smoothing: antialiased;
  background: #F9F9F9;
  width: 260px;
  border-radius: 10px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3),inset 0 1px 1px rgba(255, 255, 255, 0.8);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.3),inset 0 1px 1px rgba(255,255,255,0.8);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3),inset 0 1px 1px rgba(255, 255, 255, 0.8);
  padding: 10px 5px 0 5px;
}

header.annotation-header {
  font-size: 22px;
  font-weight: bold;
  font-style: normal;
  color: #333;
  letter-spacing: .8px;
  text-align: center;
  padding-bottom: 10px;
}

.annotation-header-search {
  vertical-align: 10%;
}

.annotation-header-search:hover {
  cursor: pointer;
}

.annotation-header-close {
  float: right;  
  padding: 0 5px 0 0;
  color:#aaa; 
}

.annotation-header-close:hover {
  cursor: pointer;  
}

.annotation-header-move {
  float: left;
  padding: 0 0 0 5px;
  color:#aaa;
  font-size: 80%;
}

.annotation-header-move:hover {
  cursor: move;
}

.annotation-description {
  text-align: center;
  margin: 0 0 0 auto;
  font-size: 14px;
  font-style:italic;
}

.annotation-items-container {
}

.annotation-items-container ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius: 10px;
}

.annotation-items-container ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.annotation-items-container ::-webkit-scrollbar {
  width: 12px;
}

.annotation-items-container ul {
  line-height: 120%;
  list-style: none;
  text-align: left;
  padding: 0 0 0 10px;
  margin: 5px 0 0 -5px;
  max-height: 300px;
  min-height: 30px;
  overflow: auto;
}

.annotation-item li {
  padding: 0px;
  display: block;
  margin: 0 auto 0 auto;
}

.annotation-description h2 {
  font-weight: normal;
  font-variant: normal;
  font-style: italic;
  line-height: 1.5;
  font-size: 14px;
  color: #696969;
  display: inline-block;
  padding-bottom: 10px;
  margin-top: 0px;
  margin-bottom: 5px;
  border-bottom: 0px;
  zoom: 1;
}

.annotation-item-title {
  padding: 0px;
  font-size: 10pt;
  display: inline;
  margin: 0 auto 0 auto;
  color: #696969;
  font-weight: bold;
}

.annotation-item-text {
  padding: 0px;
  display: inline;
  margin: 0 5px 0 auto;
  color: blue;
  font-size: 9pt;
  text-decoration: none;
}

.annotation-item-text:hover {
  text-decoration: underline;
  cursor: pointer;
}

.tooltip {
  font-size: 8pt;
}
