	svg {
		color-interpolation: auto;
		image-rendering: auto;
		shape-rendering: auto;
		vector-effect: non-scaling-stroke;
                background: white;
	/* removed fill and stroke since they override marker specs */
	/*	fill: white;
    		stroke: black; */
	}

	/* default color for pathway elements */
	.default-fill-color {
		fill: black; 
	}
	.default-stroke-color {
		stroke: black;
	}
	
	/* default color of the background drawing board */ 	
	.board-fill-color {
		fill: white;
	}
	.board-stroke-color {
		stroke: white;
	}

	.text-area {
		font-family: Sans-Serif, Helvetica, Arial;
		text-align: center;
		vertical-align: middle;
		font-size: 10px;
		fill: black;
		fill-opacity: 1;
		stroke: none;
	}

	.info-box {
		font-family: Sans-Serif;
		font-size: 10px;
		fill: black;
		stroke: none;
		text-align: left;
		vertical-align: top;
	}

	.info-box-item-property-name {
		font-weight: bold;
	}

	.info-box-item-property-value {
	}

	.data-node {
		text-align: right;
		fill-opacity: 1;
		fill: white;
		stroke: black;
		stroke-width: 2;
		stroke-dasharray: 0;
		stroke-miterlimit: 1;
    		pointer-events:auto;
	}
	
	.has-xref:hover {
		cursor: pointer;
	}

	.data-node.gene-product {
	}

	.metabolite {
		stroke: blue;
	}

	.data-node.metabolite > .text-area {
		cursor:pointer;
		fill: blue;
		fill-opacity: 1;
		stroke: none;
	}

	.data-node.pathway {
		stroke: none;
		fill-opacity: 0;
	}

	.data-node.pathway > .text-area {
		fill: rgb(20,150,30);
		fill-opacity: 1;
		stroke: rgb(20,150,30);
		font-size: 12px;
		font-weight: bold;
	}

	.data-node.protein {
	}

	.data-node.rna {
	}

	.data-node.unknown {
	}

	.label {
		stroke: black;
		stroke-width: 0;
		fill-opacity: 0;
		stroke-dasharray: 0;
		stroke-miterlimit: 1;
	}

	.shape {
		fill-opacity: 1;
		fill: white;
		stroke: black;
		stroke-dasharray: 0;
		stroke-miterlimit: 1;
	}

	.shape.none {
		fill: none;
		fill-opacity: 0;
		stroke: none;
	}

	g.group-node > .shape {
		fill-opacity: 0.098;
		stroke: gray;
		stroke-miterlimit: 1;
		stroke-width: 1px;
    pointer-events:none;
	}

	.group-node {
		fill-opacity: 0.098;
		stroke: gray;
		stroke-miterlimit: 1;
		stroke-width: 1px;
    pointer-events:none;
	}

	.group-node > .text-area {
		fill-opacity: 0.4;
		font-family: Serif, Times;
		font-size: 32px;
		fill: black;
		stroke-width: 0;
		font-weight: bold;
  }

	.group-node:hover {
		fill-opacity: 0.2;
		stroke-width: 1px;
	}

	.group-node.none {
		fill: rgb(180,180,100);
		stroke-dasharray: 5,3;
	}

	.group-node.none > .text-area {
		display: none;
  }

	.group-node.group {
		fill-opacity: 0;
		stroke-width: 0;
	}

	.group-node.group > .text-area {
		display: none;
  }

	.group-node.complex {
		fill: rgb(180,180,100);
	}

	.group-node.complex > .text-area {
		display: none;
  }

  .group-node.pathway {
		fill: lightgreen;
		stroke-dasharray: 5,3;
	}

	.group-node.pathway > .text-area {
		fill: rgb(20,150,30);
		stroke: rgb(20,150,30);
  }

  .cellular-component {
		fill-opacity: 0;
		stroke: gray;
	}

  .graphical-line {
		fill:none;
		stroke: black; 
		stroke-width: 1px; 
	}

	.interaction {
		fill:none;
		stroke: black; 
		stroke-width: 1px; 
	}

	marker {
		/* this is what should work per the spec
		   stroke-dasharray: none; */
		/* but I need to add this to make it work in Safari */
		stroke-dasharray: 9999999999999999999999999;
	}

  .marker-end {
    -webkit-transform: rotate(180deg);
    -webkit-transform-origin: 50% 50%;

    -o-transform: rotate(180deg); 
    -o-transform-origin: 50% 50%;

    transform: rotate(180deg);
    transform-origin: 50% 50%;
  }

	.solid-stroke {
		/* this is what should work per the spec
		   stroke-dasharray: none; */
		/* but I need to add this to make it work in Safari */
		stroke-dasharray: 9999999999999999999999999;
	}

	.dashed-stroke {
		stroke-dasharray: 5,3;
	}

  .highlighted-node {
		fill: yellow;
    fill-opacity: 0.2;
		stroke: orange; 
    stroke-width: 3px;
  }
