body {
  background-color: white;
  font-family: Helvetica, sans-serif, Arial
}
.navigator .highlight{
    opacity:    0.4;
    filter:     alpha(opacity=40);
    border:     2px solid #900;
    outline:    none;
    background-color: #900;
}
.highlight{
    opacity:    0.1;
    filter:     alpha(opacity=40);
    background-color: white;
}
.highlight:hover, .highlight:focus{
    filter:     alpha(opacity=70);
    opacity:    0.7;
    border:     2px solid gold;
    outline:    10px auto gold;
    background-color: transparent;
}

.icon-screenshot:hover {
   cursor: pointer;
}
  
.icon-fullscreen:hover {
   cursor: pointer;
}

.fit-to-screen-controls {
  margin-right: 20px;
}

.typeahead,
.tt-query,
.tt-hint {
  width: 180px;
  height: 20px;
  padding: 4px 6px;
  margin-right: 20px;
  font-size: 12px;
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-dropdown-menu {
  width: 422px;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

.x-min {
  display: block;
  margin-left: 0;
}

.x-mid {
  display: block;
  margin-left: auto;
  margin-right: auto
}

.x-max {
  display: block;
  margin-right: 0
}

.y-min {
  min-height: 10em;
  display: table-cell;
  vertical-align: top
}

.y-mid {
  min-height: 10em;
  display: table-cell;
  vertical-align: middle
}

.y-max {
  min-height: 10em;
  display: table-cell;
  vertical-align: bottom
}

#loading-icon #pathvisiojs-diagram #unable-to-load-message {
  display: block;
  margin-left: auto;
  margin-right: auto
}
