div.tagroot {
	position:relative;
}

div.taghide {
	text-align: center;
}

div.tagoverlay {
	display:none;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:5000;
	background-color:#FFFFFF;
	-moz-opacity: 0.8;
	opacity:.80;
	filter: alpha(opacity=80);
}

div.tagerror {
	-moz-opacity: 1;
	opacity:1;
	filter: alpha(opacity=100);
}

p.tagerror {
	background-color: #FFD5D4;
	text-align: center;
}

div.tagprogress {
	background-image:url("progress.gif");
	background-repeat:no-repeat;
	background-position: top center;
}

div.tagedit {
	border: 1px solid #E6EBFF;
}

div.tagdisplay {

}

div.taghistscroll {
	border: 1px solid #E6EBFF;
	overflow: auto;
	height: 10em;
	background-color: #FFFFFF;
}

div.taghisttable {
	
}

div.taghist {
	margin-top: 1em;
	border: 1px solid #666666;
	background-color: #DDDDDD;
}

div.tagbuttons {
	z-index:500;
	float: right;
	clear: right;
	padding-right: 1.5em;
	padding-top: 0.5em;
}

div.transparent {
	-moz-opacity: 0.3;
	opacity:.30;
	filter: alpha(opacity=30);
}

div.solid {
	-moz-opacity: 1;
	opacity:1;
	filter: alpha(opacity=100);
}

div.tagcontainer {

}

div.tagcontents {
}

div.tagtool {
	position:relative;
	left:2em;
}
