@import url("//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css");

.pvjs-container {
  position: relative;
  min-width: 400px;
  width: inherit;
  min-height: 200px;
  height: inherit;
  overflow: hidden;
  background-color: white;
  font-family: Helvetica, sans-serif, Arial;
  resize: both;
  display: block;
}

.pvjs-container.loading {
  opacity: 0.7;
}

.pvjs-container.loading:after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  width: 32px;
  height: 32px;
  margin: -16px 0 0 -16px;
}

/* Centering image */
.pvjs-container .pvjs-img {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
