.Viewport.Icon {
  fill: white;
}

/* Hide the InfoBox */
.Viewport.textContent {
  font-size: 0;
}

.textContent {
  stroke: none;
}

.DataNode {
  stroke-miterlimit: 1;
  pointer-events: auto;
}

.DataNode:hover {
  cursor: pointer;
}

/* TODO should this apply to things other than DataNodes? */
.DataNode.textContent {
  pointer-events: none;
}

.DataNode.Highlighted {
  opacity: 0.6;
  stroke-width: 0px;
}

marker {
  /* this is what should work per the spec
  stroke-dasharray: none; */
  /* but I need to add this to make it work in Safari */
  stroke-dasharray: 9999999999999999999999999;
}

.Citation.Icon {
  fill: none;
  stroke-width: 0px;
}

.Citation.textContent {
  text-align: center;
  vertical-align: top;
  font-size: 7px;
  fill: #999999;
  fill-opacity: 1;
  stroke: none;
}
